<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <style>
        body {
            background: #f90;
        }
        
        h2 {
            text-align: center;
            font-size: 30px;
            padding: 10px 0;
        }
    </style>
</head>

<body>
   Home
    <!--<script src="../../output/static/app.js"></script>-->
    <script src="home.js"></script>
</body>

</html>